/*------------ font ------------*/


*{
    font-family: font;
}

@font-face{
    font-family: "font";
    src: url("../font/ProximaNova-Regular.ttf");
}



/*------------ header ------------*/

body{
    margin: 0;
}

.header-bar{
    display: grid;
    grid-template-rows: 50px 570px;
    background-image: url("../images/Rectangle11.png"), url("../images/b2cf705e.jpg");
    background-size: 100%;
    background-position-y: 71%;
    background-repeat: no-repeat;
}
 
.nav-bar{
    margin-right: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50px;
}

.header-body{
    display: grid;
    grid-template-columns: auto auto;
}

.kpop-team{
    align-self: center;
}

.kpop-image{
    height: 450px;
    margin-left: 120px;
}

.kpop-description{
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: center;
}

.logo-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.logo{
    height: 35px;
    grid-column: 2 / 3;
    align-self: center;
}

.nav-button{
    background: transparent;
    color: white;
    align-self: flex-end;
}

.nav-item{
    color: white;
    text-decoration: none;
    align-self: center;
}

.nav-button{
    border: transparent;
}

.nav-signup , .nav-login{
    border:  1.5px solid white;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin: 0 10px;
}
.titre1{
    color: white;
    text-decoration: none;
    font-size: 50px;

}



/*---------------- blog part ----------------*/


.blog-section{
    display: grid;
    grid-template-columns: repeat(3, 344px) ;
    grid-template-rows: 200px 335px 10px 335px;
    justify-content: center;
    gap: 10px;
    row-gap: 30px;
}

.blog-description{
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-description1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.blog-description2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.blog-description3{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.blog-description4{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.blog-description5{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.blog-description6{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    
}

.blog-images{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 200px;
    width: 343px;
    border-radius: 20px;
}

.date-blog{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    padding-top: 17px;
}

.description-blog{
    align-content: center;
}

.blog-p .p-blog{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-bottom: 0;
}

.p-blog{
    margin-top: 0;
}

.blog-titre{
    font-weight: bolder;
    font-size: xx-large;
    color: #242565;
}

.blog-bold{
    color: #242565;
    font-size: large;
    font-weight: bold;
}


/*------------ footer ------------*/



footer{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 380px 50px;
    grid-template-columns: none;
     background-color: #0A075F;
    color: white;
    
}

.footer{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: none;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 20px;
    gap: 30px;
}

.copyright-cadre{
    grid-row: 2 / 3;
    justify-self: center;
    border-top: 1px solid #FFFFFF;
    width: 70%;
    display: flex;
    justify-content: center;
}

.footer1{
    grid-column: 1 / 2;

}

.footer2{
    grid-column: 2 / 3;
    
}

.logo-footer{
    height: 50px;
}

.input-cadre{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 30px;
}

.input-cadre button{
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #F5167E;
    color: white;
}

.input-cadre input{
    border: none;
}
