/*------------ header ------------*/

body{
    margin: 0;
}

.header-bar{
    display: grid;
    grid-template-rows: 50px 570px;
    background-image: url("../images/Rectangle10.png"), url("../images/Linkin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
.nav-bar{
    margin-right: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50px;
}

.header-body{
    display: grid;
    grid-template-columns: auto auto;
}

.kpop-team{
    align-self: center;
}

.kpop-image{
    height: 450px;
    margin-left: 120px;
}

.kpop-description{
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: center;
}

.logo-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.logo{
    height: 35px;
    grid-column: 2 / 3;
    align-self: center;
}

.nav-button{
    background: transparent;
    color: white;
    align-self: flex-end;
}

.nav-item{
    color: white;
    text-decoration: none;
    align-self: center;
}

.nav-button{
    border: transparent;
}

.nav-signup , .nav-login{
    border:  1.5px solid white;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin: 0 10px;
}
.titre1{
    color: white;
    text-decoration: none;
    font-size: 50px;

}


/*---------------- events part ----------------*/


.events-part{
    display: grid;
    grid-template-columns: repeat(3, 344px) ;
    grid-template-rows: 100px 335px 335px 335px;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}

h2{
    color: #242565;
}

.event-description1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description3{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description4{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description5{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description6{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description7{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description8{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.event-description9{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 197.11px 1fr;
    grid-template-columns: 70px 1fr;
}

.events-images{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 344px;
    height: 198px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.date-event{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    padding-top: 17px;
}

.description-event{
    align-content: center;
}

.event-bold, .paragraph-event{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.day{
    font-size: 30px;
}

.mounth{
    color: #3D37F1;
}



/*------------ footer ------------*/


.footer{
    background-color: #0A075F;
    color: white;
    padding: 60px 90px 30px;
    margin-top: -200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px;
}

.footer-description1{
    display: flex;
    flex-direction: column;
}

.footer-description2{
    display:flex;
    flex-direction: column;
}

.footer-description1 a,.footer-description2 a {
    margin-bottom: 10px;
}

.copyright{
    text-align: center;
    color: #6d6d6d;
    margin-top: 38px;
    border-top: 1px white solid;
    padding-top: 20px;
    font-size: small;
}

