/*------------ header ------------*/
body{
    margin: 0;
}

.header-bar{
    display: grid;
    grid-template-rows: 50px 570px;
}
 
.nav-bar{
    margin-right: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50px;
}

.header-body{
    display: grid;
    grid-template-columns: auto auto;
}

.kpop-team{
    align-self: center;
}

.kpop-image{
    height: 450px;
    margin-left: 120px;
}

.kpop-description{
    align-content: center;
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: center;
}

.logo-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.logo{
    height: 35px;
    grid-column: 2 / 3;
    align-self: center;
}

.header-bar{
    background-image: url('../images/bg2.png'), url('../images/bg.png');
    background-size: cover;
}

.nav-button{
    background: transparent;
    color: white;
    align-self: flex-end;
}

.nav-item{
    color: white;
    text-decoration: none;
    align-self: center;
}

.nav-button{
    border: transparent;
}

.nav-signup , .nav-login{
    border:  1.5px solid white;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin: 0 10px;
}
.titre1{
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.description-home{
    color: white;
    text-decoration: none;
    font-size: large;
}

.events-blog-buttons{
    height: fit-content;
    align-content: center;
}

.events-button {
    border-color: transparent;
    background: transparent;
    width: 100px;
}

.blog-button{
    background: transparent;
    border: transparent;
    text-decoration: none;
    width: 100px;   
}

.blog-button-cadre{
    border:  1.5px solid white;
    border-radius: 30px;
    text-align: center;
    margin: 0 15px;
    height: fit-content;
    width: fit-content;
    padding: 1%;
}
.events-button-cadre{
    background-color: #F5167E;
    border:  1.5px solid #F5167E;
    border-radius: 30px;
    text-align: center;
    margin: 0 15px;
    height: fit-content;
    width: fit-content;
    padding: 1%;   
}

/*------------ search bar ------------*/

.search-bar-nav{
    height: 200px;
    display: flex;
    justify-content: center;
}

.research-bar{
    height: 140px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 140px;
    background-color: #242565;
    align-items: center;
    border-radius: 15px;
}

.place-bar, .time-bar, .search-bar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.search-text, .place-text, .time-text{
    font-size: 20px;
    color: white;
}

.date-bar, .place-input, .search-input{
    width: 200px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

